<form action="/users" method="post">
  Username<br>
  <input type="text" name="username"><br>
  Email:<br>
  <input type="email" name="email" value="<%= @user.email %>" required><br>
  Password:<br>
  <input type="password" name="password"><br>
  Confirm Password:<br>
  <input type="password" name="password_confirmation"><br>
  <input type="submit" value="Register">
</form>

<% if flash[:message] %>
  <div id='notice'><%= flash[:message] %></div>
<% end %>
