<form action="/newuser" method="post">
  Username<br>
  <input type="text" name="username"><br>
  Email:<br>
  <input type="text" name="email"><br>
  Password:<br>
  <input type="text" name="password"><br>
  <input type="submit" value="Register">
</form>
